* {
    /* border-style: solid;
    border-color: red;
    border-width: 2px; */
    color:whitesmoke;
}

#footer-menu {
    grid-area: menu;
    text-align: left;
    padding-bottom: 100px;
}

#footer-menu p {
    padding: 3px;
    margin: 0px;
    font-weight: bold;
}

#footer-image {
    grid-area: image;
    text-align: right;

}

#footer-info {
    grid-area: info;
    text-align: left;
    display: inline-flex;
}

#footer-info p {
    list-style: none;
    width: auto;
    padding-right: 40px;
}

#footer-socials {
    grid-area: socials;
    text-align: right;
}

#footer-socials ul {
    list-style: none;
}

#footer-socials li {
    display: inline;
    padding-left: 10px;
}

.grid-container {
    background-color: darkblue;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    display: grid;
    grid-template-areas: 'menu image'
    'info socials';
}
/* 
.grid-container div {
    border: 5px black solid;
    text-align: center;
} */


